<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" colors="true" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage"/>
    </report>
  </coverage>
  <php>
    <ini name="intl.default_locale" value="en_US.UTF-8"/>
    <ini name="intl.error_level" value="0"/>
    <ini name="memory_limit" value="-1"/>
    <ini name="max_execution_time" value="-1"/>
    <ini name="date.timezone" value="Europe/Madrid"/>
    <ini name="error_reporting" value="E_ALL"/>
  </php>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="build/logs/junit.xml"/>
  </logging>
  <source>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./vendor/</directory>
      <directory>./tests/</directory>
    </exclude>
  </source>
</phpunit>
